/* Contact Form Box Styles */
.form-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Center the box */
    max-width: 500px; /* Maximum width for the box */
  }
  
  /* Adjust form input styles */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input, 
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .button {
    text-align: right; /* Align the button to the right */
  }
  
  .button button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .button button:hover {
    background-color: #f9c74f;
  }
  
  .title{
    color: white;
  }